<table class="table text-center table-hover table-bordered mt-3">
    <thead>
        <th>Nombre</th>
        <th>Apodo</th>
        <th>Edad</th>
        <th>#</th>
    </thead>
    <tbody>
        <tr *ngFor = "let mascota of misMascotas">
            <td>{{mascota.nombre}}</td>
            <td>{{mascota.apodo}}</td>
            <td>{{mascota.edad}}</td>
            <td id="PP">
                <!-- <i class="fas fa-trash-alt" (click) = "eliminar(mascota)"
                data-toggle="modal" data-target="#confirmModal"></i> -->
                <i class="fas fa-trash-alt" (click) = "cargaMascotaEditar(mascota)"
                data-toggle="modal" data-target="#confirmModal"></i>

                <i class="fas fa-pencil-alt ml-3"
                data-toggle="modal" data-target="#exampleModal" (click) = "cargaMascotaEditar(mascota)"></i>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar Mascota</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container form-group">
            <input type="text" class="form-control mt-2" placeholder="Nombre..."
            [(ngModel)] = mascotaModificar.nombre>
            <input type="text" class="form-control mt-2" placeholder="Apodo..." [(ngModel)] = mascotaModificar.apodo>
            <input type="text" class="form-control mt-2" placeholder="Edad..." [(ngModel)] = mascotaModificar.edad>            
          </div>
        </div>        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click) = "modificar()">Save changes</button>
        </div>
      </div>
    </div>
</div>


<!--   MODAL  CONFIRMACION     -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Esta seguro que desea eliminar?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body offset-3">
            <button type="button" class="btn btn-danger col-3" data-dismiss="modal" (click)="eliminar()">Si</button>
            <button type="button" class="btn btn-secondary ml-4 col-3" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>